.login-screen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/2e884ce2-da1c-4501-ab9a-10c534d30975/6973a9ea-02b2-4de9-9006-d7d224c9b75d/IN-en-20230327-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  }
.login-screen-logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 30px;
  padding-top: 20px;

}
.login-screen-gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%)
}

.signin-button {
  position: fixed;
  right: 30px;
  top: 30px;
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem
}

.login-screen-body{
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    z-index: 1;
    padding: 20px;
}
.login-screen-body > h1{
font-size: 3.125rem;
margin-bottom: 20px;
}